<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("ghetto_posts.new_post"), new_object_url, {:icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%=t("ghetto_posts.posts") %></h1>

<table class="index">
  <tr>
    <th><%= Spree::Post.human_attribute_name(:title) %></th>
    <th><%= Spree::Post.human_attribute_name(:visible) %></th>
    <th><%= Spree::Post.human_attribute_name(:locale) %></th>
    <th><%= Spree::Post.human_attribute_name(:published_at) %></th>
    <th><%= t("action") %></th>
  </tr>
  <tbody>
      <% @posts.each do |post| %>
    <tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id post %>">
      <td>
        <%= post.title %>
      </td>
      <td>
        <%= icon('tick') if post.visible %>
      </td>
      <td>
        <%= post.locale %>
      </td>
      <td>
        <%= post.published_at %>
      </td>
      <td>
        <%= link_to_edit post %> &nbsp;
        <%= link_to_delete post %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>